[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "23.11.0"

roboflow = "*"
pymongo = "*"
python-dotenv = "*"
opencv-python = "*"

[dev-packages]
pylint = "*"
black = "23.11.0"
pytest = "*"
pytest-cov = "*"
coverage = "*"


[requires]
python_version = "3.10"
